section{
    margin-top:10vh;
    height: 80vh;
    width:100vw;
    padding: 5px;
    pointer-events: stroke;
}

 

.file-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40vw;
    margin: 10px;
    position: relative;
    pointer-events: visibleStroke;
}

.file-container:hover{
    cursor: pointer;
}

.file-name{
    font-size: small;
    font-weight: 500;
    font-family: monospace;
}

.tooltip-text{
    position: absolute;
    z-index: 2;
    visibility: hidden;
    top:80px;
    // width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;
}

.avail:hover .tooltip-text{
    visibility: visible !important;
}

.editable{
    border: 1px solid blue;
    z-index: 100;
    // position: absolute;
    // bottom: 0;
    // top:50px;
}

.editable:focus{
    background-color: aqua;
}

#div1,#div2{
    border: 1px solid red;
    width: 00px;
    height: 400px;
}

.loader-layer,.file-view-layer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    overflow: hidden;
    z-index: 100000;
    background-color: black;
    opacity: 0.8;
}

.file-view-layer{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
}

.loader-layer > iframe{
    width: 100%;
    border: 0;
    height: auto;
    margin: 50vh 0;
}

.file-view-layer > iframe{
    width: 85vw;
    height: 80vh;
    margin: 5vw 15vh;
}

.file-view-layer > video{
    height: 80vh;
    width: auto;
}

.file-view-layer > audio{
    height: 30vh;
    width: auto;
}

.file-view-layer > img{
    width: auto;
    height: 80vh;
}

.close-button{
    position: absolute;
    color: white;
    font-weight: 800;
    right: 5vw;
    top: 5vh;
    cursor: pointer;
}

@media only screen and (max-width:500px){
    .file-view-layer > iframe{
        width: 100vw;
        height: 100vh;
        margin: 1vw 1vh;
        // margin: 5vw 15vh;
    }
}

// body:nth-child(2){
//     display: flex;
//     justify-content: center;
// }

// body:nth-child(2) > *{
//     height: inherit;
//     width: inherit;
// }