<header (contextmenu)="$event.preventDefault();">
    <nav>
        <button (click)="show=!show;" > <i class="fas" [ngClass]="show?'fa-times':'fa-bars'"></i> </button>
        <ul *ngIf="show || width>500">
            <li>
                <a [ngClass]="selected==navOptions.files?'selected':''" id="files" routerLink="/app/" (click)="onNavChange(navOptions.files);"><i class="fas fa-folder-open">&nbsp;</i><span>Drive</span></a>
            </li>
            <li>
                <a [ngClass]="selected==navOptions.movies?'selected':''" routerLink="/app/video" id="movies" (click)="onNavChange(navOptions.movies);"><i class="fas fa-video">&nbsp;</i><span>Videos</span></a>
            </li>
            <li>
                <a [ngClass]="selected==navOptions.music?'selected':''" routerLink="/app/audio" id="music" (click)="onNavChange(navOptions.music);"><i class="fas fa-music">&nbsp;</i><span>Music</span></a>
            </li>
            <li class="li-profile" >
                <a [ngClass]="selected==navOptions.profile?'selected':''" routerLink="/app/profile" (click)="onNavChange(navOptions.profile);"><i class="fas fa-user">&nbsp;</i><span>Profile</span></a>
            </li>
        </ul>
    </nav>
</header>